body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-content, .image-content {
    margin-top: 100px;
    padding: 10px;
}

.image-content {
    text-align: center;
}

.image-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image-form > * {
    margin: 8px;
}

button.save-image {
    margin-top: 10px;
    width: 50%;
}

.table-icons {
    width: 70px;
}

.loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
}

.image-content img {
    max-width: 100%;
}

.image-buttons {
    margin: 10px;
}

.image-action-block {
    height: calc(100% - 20px);
    padding: 10px;
}

div.image-history-block {
    background-color: #f5f5f5;
    padding: 20px;
}

.image-history-block ul {
    margin: 0 auto;
}

.image-blur-block {
    height: 100%;
}

.blur-demo {
    width: 100%;
    max-width: 560px;
    height: 420px;
    max-height: 100%;
    margin: 1rem auto;
}
.blur-input {
    width: 80%;
    max-width: 480px;
    margin: 0;
    height: 3em;
}

.log-image-content img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.logs-title {
    display: flex;
    justify-content: space-between;
}

.infinity-loader-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinity-loader-content > div {
    height: 25px;
    margin-left: 10px;
}

.infinity-loader-content span {
    font-size: 19px;
    font-weight: 600;
}

.no-data {
    margin-top: 12px;
}

.resize-image-content {
    margin-top: 15px;
}

.default-file-parameters {
    margin-bottom: 20px;
}

.info-title span {
    font-weight: 600;
}

.info-title p {
    text-transform: capitalize;
    font-weight: 600;
    color: #2962ff;
}

.load-more-logs {
    margin: 10px 0;
}